@import "import/mixins";
@import "import/reset";
@import "import/variables";


.main {
    background-color: $bgc-light-green;
    font-size: 27px;
    padding: 100px;
}

.main__paragraph {
    left: 40px;
    position: relative;
    left: 60px;
    top: 30px;

}