@import "import/mixins";
@import "import/reset";
@import "import/variables";

.pw-card {
    position: relative;

    &__image {
        position: absolute;
    }

    &__image--ribbon {
        position: absolute;
        left: 270px;
        top: 280px;
    }
}